<div class="card">
  <div class="card-header">
    <h4>Sign up</h4>
  </div>
  <div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>
  <div class="field form-group my-2">
    <% f.label :password %>
    <% if @minimum_password_length %>
    <h6>(<%= @minimum_password_length %> characters minimum)</h6>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control", placeholder:"New Password" %>
  </div>
  <div class="field form-group my-3">
    <% f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Re enter New Password" %>
  </div>

  <div class="actions my-2">
    <%= f.submit "Sign up", class:"btn btn-secondary" %>
  </div>
<% end %>
  </div>
</div>


<h5>
<%= render "devise/shared/links" %>
</h5>