<div class="card">
  <div class="card-header">
    <h4>Log in</h4>
  </div>
  <div class="card-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group my-2">
    <% f.label :email %>
    <%= f.email_field :email, class:"form-control my-2", placeholder:"Enter Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group my-4">
    <% f.label :password %>
    <%= f.password_field :password,class:"form-control", placeholder:"Enter Password",autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <h6><p><%= f.check_box :remember_me, class:"form-check-input" %>
      <%= f.label :remember_me %></p></h6>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-secondary my-2" %>
  </div>
<% end %>
  </div>
</div>


<h6>
<%= render "devise/shared/links" %>
</h6>